@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	width: 100vw;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #fff;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar * {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #9e8464 !important;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: #8a7358 !important;
}
.almarai-light {
	font-family: "Almarai", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .almarai-regular {
	font-family: "Almarai", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .almarai-bold {
	font-family: "Almarai", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .almarai-extrabold {
	font-family: "Almarai", sans-serif;
	font-weight: 800;
	font-style: normal;
  }